@using Eklee.KeyVault.Viewer.Core;
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    if (ViewData["Error"] == null)
    {
        <div class="row">

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["secrets"] != null)
                    {
                        List<SecretItem> items = (List<SecretItem>)ViewData["secrets"];
                        foreach (var item in items)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <button id="@item.Name" type="button" style="width:190px;" class="btn btn-primary" onclick="CopySecret('@item.Id','@item.Name')">Copy to Clipboard</button>
                                    <input id="h_@item.Name" style="visibility: hidden" class="form-control" type="text" value="" disabled>
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>

        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
        </div>
    }
}



