@using EKlee.KeyVault.Client.Services
@using EKlee.KeyVault.Client.Modules;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inherits LayoutComponentBase
@inject IEnumerable<IAppModule> AppModules
@inject Config SystemConfig
@inject AuthenticationStateProvider AuthenticationStateProvider

<RadzenLayout style="height: 100%">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarIsExpanded = !sidebarIsExpanded)" />
            <RadzenLabel Text="@SystemConfig.Header" />&nbsp;&nbsp;
            <RadzenLink Text="[Sign out]" @onclick="()=>SignOut()" Visible="isAuthenticated" />
            <RadzenLink Text="[Sign in]" @onclick="()=>SignIn()" Visible="!isAuthenticated" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarIsExpanded">
        <RadzenPanelMenu>
            @foreach (var appModule in AppModules)
            {
                <RadzenPanelMenuItem Text="@appModule.DisplayName" Icon="@appModule.Icon" Path="@appModule.Path" />
            }
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        @Body
    </RadzenBody>
    <RadzenFooter>
        <div style="text-align: center;">
            @SystemConfig.Footer
        </div>
    </RadzenFooter>
</RadzenLayout>

